<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @view_title %></h3>
    </div>
    <div class="panel-body">
      <%= form_for @claimant, layout: :basic do |f| %>
        <% if @claimant.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@claimant.errors.count, "error") %> prohibited this claimant from being saved:</h2>

            <ul>
            <% @claimant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.text_field :address %>
        </div>
        <div class="field">
          <%= f.text_field :country %>
        </div>
        <div class="actions">
          <%= f.submit %>
          <%= link_to 'Back', claimants_path, :class => "btn btn-default"%>
        </div>
      <% end %>
    </div>
</div>