<% if notice %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p id="notice"><%= notice %></p>
</div>
<br/>
<% end %>
<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">Legal Entity Details</h3>
	  </div>
	  <div class="panel-body">
			<p id="notice"><%= notice %></p>

			<p>
			  <strong>First Name:</strong>
			  <%= @claimant.first_name %>
			</p>

			<p>
			  <strong>Last Name:</strong>
			  <%= @claimant.last_name %>
			</p>

			<p>
			  <strong>Email:</strong>
			  <%= @claimant.email %>
			</p>

			<%= link_to 'Edit', edit_claimant_path(@claimant) %> |
			<%= link_to 'Back', claimants_path %>
			
			<hr/>
			<h5>Wallets</h5>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th>Public address</th>
			      <th>Tag</th>
			      <th colspan="2"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @claimant.wallets.each do |wallet| %>
			      <tr>
			        <td><%= wallet.public_address %></td>
			        <td><%= wallet.tag %></td>
			        <td><%= link_to 'Show', wallet %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>

      <hr/>
      <h5>Project</h5>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Nameplate</th>
          <th>Country</th>
          <th>Install Date</th>
          <th>Status</th>
          <th>Docs</th>
        </tr>
        </thead>

        <tbody>
        <% @claimant.projects.each do |project| %>
          <tr>
            <td><%= project.nameplate %></td>
            <td><%= project.country %></td>
            <td><%= project.install_date %></td>
            <td><%= project.status %></td>
            <td><%= project.documentation %></td>
            <td><%= link_to 'Show', project %></td>
          </tr>
        <% end %>
        </tbody>
      </table>


	  </div>
</div>