<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Bounty Grants</div>
    <div class="panel-body">
      <span class="pull-right">
        <%= link_to 'New Bounty', new_bounty_path, :class => "btn btn-primary" %>
      </span>
    </div>

    <table id="bountiesTable" class="table table-hover">
      <thead>
        <tr>
          <th>GUID</th>
          <th>Amount</th>
          <th>Receiver wallet</th>
          <th>Grant GUID</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @bounties.each do |bounty| %>
          <tr>
            <td><%= bounty.GUID %></td>
            <td><%= solar_coin_amount(bounty.amount) %></td>
            <td><%= bounty.wallet.public_address %></td>
            <td><%= bounty.grant.GUID %></td>
            <td><%= link_to 'Show', bounty %></td>
            <td><%= link_to 'Edit', edit_bounty_path(bounty) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#bountiesTable').DataTable( {
      "paging": true,
      "ordering": true,
      "info": true,
      "pagingType": "full_numbers"
    });
  });

</script>
