<% if notice %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p id="notice"><%= notice %></p>
</div>
<br/>
<% end %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Facilities</div>
    <div class="panel-body">
      <span class="btn-group pull-left" role="group" aria-label="...">
        <%= get_button_link 'Pending Facilities', 'P' %>
        <%= get_button_link 'Approved Facilities', 'A' %>
        <%= get_button_link 'Rejected Facilities', 'R' %>
      </span>
      <!--<span class="pull-right">-->
        <!--<%= link_to 'New Facility', new_project_path, :class => 'btn btn-primary' %>-->
      <!--</span>-->
      <br/>
      <hr/>
      <div class="table-responsive">
        <table id="projectsTable" class="table table-hover">
          <thead>
          <tr>
            <th>Generator ID</th>
            <th>Claimant Email</th>
            <th>Claimant ID</th>
            <th>Status</th>
            <th>Nameplate</th>
            <th>Install date</th>
            <th>Wallet Address</th>
            <th>Address</th>
            <th>Post code</th>
            <th>Country</th>
            <th>Received</th>
            <th>Updated</th>
          </tr>
          </thead>
          <tbody>
          <% @projects.each do |project| %>
              <tr>
                <td><%= link_to "#{project.id}", project %></td>
                <td><%= project.claimant.email %></td>
                <td><%= project.claimant_id %></td>
                <td><%= project.status == 'P' ? 'Pending' : project.status %></td>
                <td><%= display_nameplate(project.nameplate) %></td>
                <td><%= project.install_date.to_formatted_s(:iso8601) %></td>
                <td><%= project.wallet_address %></td>
                <td><%= project.address %></td>
                <td><%= project.post_code %></td>
                <td><%= project.country %></td>
                <td><%= project.created_at.strftime('%Y-%m-%d')  %></td>
                <td><%= project.updated_at.strftime('%Y-%m-%d') %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          $('#projectsTable').DataTable( {
            "paging": true,
            "ordering": true,
            "info": true,
            "pagingType": "full_numbers"
          });
        });

      </script>                
    </div>
</div>

