<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @view_title %></h3>
    </div>
    <div class="panel-body">
      <%= form_for(@wallet, layout: :basic) do |f| %>
        <div class="field">
          <%= f.text_field :public_address %>
        </div>
        <div class="field">
          <%= f.text_field :tag %>
        </div>
        <div id="bloodhound">
          <%= f.text_field :claimant_id %>
        </div>
        <div class="actions">
          <%= f.submit %>
          <%= link_to "Back", wallets_path, :class => "btn btn-default" %>
        </div>
      <% end %>
    </div>
</div>

<script type="text/javascript">
  var claimants = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/claimants.json'
    }
  });
  $('#wallet_claimant_id').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'claimants',
    displayKey: "name",
    source: claimants
  });
</script>