<% if notice %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p id="notice"><%= notice %></p>
</div>
<br/>
<% end %>

<div class="panel panel-info">
  <div class="panel-heading">
		<h3 class="panel-title">Wallet Details</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Public address:</strong>
	  <%= @wallet.public_address %>
	</p>

	<p>
	  <strong>Tag:</strong>
	  <%= @wallet.tag %>
	</p>

	<p>
	  <strong>Owner:</strong>
	  <%= @wallet.owner %>
	</p>

	<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
	<%= link_to 'Back', wallets_path %>
  </div>
</div>