<% if notice %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p id="notice"><%= notice %></p>
</div>
<br/>
<% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <span class="pull-right">
        <%= link_to 'New Grant', new_grant_path, :class => "btn btn-primary" %>
      </span>
      <br/>
      <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                  <a href="#Pending" aria-controls="Pending" role="tab" data-toggle="tab">Pending</a>
              </li>
              <li role="presentation">
                  <a href="#Periodic" aria-controls="Periodic" role="tab" data-toggle="tab">Periodic</a>
              </li>
              <li role="presentation">
                  <a href="#Adjustment" aria-controls="Adjustment" role="tab" data-toggle="tab">Adjustment</a>
              </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="Pending">
                
              </div>
              <div role="tabpanel" class="tab-pane" id="Periodic">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>GUID</th>
                      <th>Receiver wallet</th>
                      <th>Amount</th>
                      <th colspan="2"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @periodic_grants.each do |grant| %>
                      <tr>
                        <td><%= grant.GUID %></td>
                        <td><%= grant.wallet.public_address %></td>
                        <td><%= number_with_delimiter(grant.amount) %> SLR</td>
                        <td><%= link_to 'Show', grant %></td>
                        <td><%= link_to 'Edit', edit_grant_path(grant) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane" id="Adjustment">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>GUID</th>
                      <th>Receiver wallet</th>
                      <th>Amount</th>
                      <th colspan="2"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @adjustment_grants.each do |grant| %>
                      <tr>
                        <td><%= grant.GUID %></td>
                        <td><%= grant.wallet.public_address %></td>
                        <td><%= number_with_delimiter(grant.amount) %> SLR</td>
                        <td><%= link_to 'Show', grant %></td>
                        <td><%= link_to 'Edit', edit_grant_path(grant) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
    </div>
</div>