<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @view_title %></h3>
    </div>
    <div class="panel-body">
      <%= form_for @approval_status, layout: :basic do |f| %>
        <%= f.text_field :code %>
        <%= f.text_field :details %>
        <%= f.submit %>
        <%= link_to 'Back', approval_statuses_path,:class => "btn btn-default" %>
      <% end %>
    </div>
</div>

